body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    display: inline-block;
    width: 100%;
    height: 120px;
    background-color:  rgb(64,64,64);
    padding: 0;
    margin: 0;
}

#img{
    width: 14%;
    float: left;
    z-index: 4;
    margin: 0;
    margin-top: -110px;
    margin-left: 20px;
}

#titre{
    text-align: center;
    color: white;
    z-index : 3;
    margin-top: 0;
    font-family: 'Righteous', cursive;
    font-size: 1.7em;
}


#footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    background-color:  rgb(64,64,64);
    font-size: 12px;
    text-align: center;
    color :white;
}

hr{
    height: 5px;
    color: #575CBF;
    background-color: #575CBF;
    margin: 0;
    margin-bottom: 1px;
}



#p_footer{
    z-index: 3;
}
#logo_isen{
    float: left;
    width: 7.5%;
    margin-left: 5px;
    margin-top: -50px;
    z-index: 4;
}