/* Menu de la page d'accueil :*/
#main_menu{
    list-style-type: none;
    width: 100%;
}

#main_menu a{
    text-decoration: none;
    line-height: 3;
    /* outline: none; */
    background-color: #575CBF;
    width: 30%;
    color: white;
    font-size: 2vw;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    margin-top: 100px;
}

#main_menu ul li{
    width: 100px;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

#main_menu a:hover{
    background-color: rgb(67, 72, 179);
}

#main_menu ul li:last-child{
    background-color:rgb(64,64,64);
}